@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

body{
    background-color: #fafafa!important;
}
.rtl{
    direction: rtl;
}
.logo-header{
    float: right!important;
    background-color: #ffffff;
    border-radius: 5px;
}
.main-panel{
    float: left!important;
}
.side-bt-style{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #e4e4e4;
    padding: 10px;
}
.card-main-page{
    box-shadow: 1px 2px 5px #e4e4e4;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    margin-bottom: 10px!important;
}
.card-main-page i{
    color: white;
    font-size: 60px;
}
.card-main-page h4{
    color: white;
    text-align: right;
    font-size: 30px;
}
.card-main-page p{
    color: white;
    text-align: right;
    font-size: 15px;
}
.card-service{
    background: rgb(21,161,141);
    background: linear-gradient(45deg, rgba(21,161,141,1) 0%, rgba(52,231,126,1) 100%);
}
.card-quits{
    background: rgb(0,177,216);
    background: linear-gradient(45deg, rgba(0,177,216,1) 0%, rgba(0,136,181,1) 100%);
}
.card-tickets{
    background: rgb(82,5,224);
    background: linear-gradient(45deg, rgba(82,5,224,1) 0%, rgba(137,42,226,1) 100%);
}
.card-orders{
    background: rgb(192,73,152);
    background: linear-gradient(45deg, rgba(192,73,152,1) 0%, rgba(243,13,95,1) 100%);
}
.main-carousel{
    height: 340px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.carousel-indicators li {
    width: 15px!important;
    border-radius: 50px!important;
    height: 7px!important;
}
.carousel-indicators .active{
    width: 25px!important;
}
.border-left-width{
    border-left: 1px solid gray;
    height: 10px;
    padding-left: 10px;
}
.table-cus{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
    box-shadow: 1px 1px 5px #e4e4e4;

}
.card-h-o{
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
}
/* width */
.card-h-o::-webkit-scrollbar {
    width: 10px;
    float: right;
}

/* Track */
.card-h-o::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    transition-duration: 2s;
    transition-property: background-color;
}
.card-h-o::-webkit-scrollbar-track:hover {
    background-color: #eeeeee;

}

/* Handle */
.card-h-o::-webkit-scrollbar-thumb {
    background: #5e1fdf;
    border-radius: 10px;
}

/* Handle on hover */
.card-h-o::-webkit-scrollbar-thumb:hover {
    background: #6a37d0;
}
.navbar-brand{
    height: 50px;
}